<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.fzymek.android.cycloneeye"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="17"
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name="MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
    <permission
        android:name="pl.fzymek.android.cycloneeye.WRITE.PERMISSION"
        android:description="@string/write_permission_desc"
        android:label="@string/write_permission_desc"
        android:protectionLevel="signature" />
        
	<provider 
		android:name=".database.providers.HighscoresProvider"
        android:authorities="@string/highscores_provider_authority"
        android:writePermission="@string/write_permission" />

        -->
        <provider
            android:name=".database.providers.HighscoresProvider"
            android:authorities="@string/highscores_provider_authority" >
        </provider>
    </application>

</manifest>